<div class="home-page">
  <div class="content-wrapper">
    <div class="home-body">
      <section class="title-container">
        <div class="icon-title">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64"><defs fill="#CD4945" /><path  d="m30,30h22v26H12V8h18v22Zm8-22h-4v18h18v-4l-14-14Z" fill="#CD4945" /></svg>
          <header class="document-title">Developer Ticket Docs
          </header>
        </div>
        <div class="document-sub-title">Organize documents for transparent team communication.
        </div>
      </section>
      <%= turbo_frame_tag "modal" %>
      <div data-controller="modal">
        <div class="account-modal" data-action="click->modal#open">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
          </svg>
        </div>
        <div class="logout-modal" data-modal-target="content">
          <p class="modal-button">Force Sync</p>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "modal-button" %>
        </div>
      </div>
    </div>
    <% @category.each do |c| %>
      <div class="category-name category-<%= c.id %>"><%= c.name %></div>
      <div class="category-table">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th></th>
              <th scope="col" class="title-header col">Title</th>
              <th scope="col" class="keywords-header col">Keywords</th>
              <th scope="col" class="issue-header col">Issue</th>
              <th scope="col" class="documentation-header col">Documentation</th>
              <th scope="col" class="developer-header col">Developer</th>
              <th scope="col" class="story-points-header col">Story Points</th>
              <th scope="col" class="commit-url-header col">Commit URL</th>
              <th scope="col" class="date-header col">Date</th>
            </tr>
          </thead>
          <tbody class="body">
            <% c.tickets.each do |t| %>
              <tr class="ticket-row">
                <td class="action-cell delete-ticket">
                  <%= link_to "✖", ticket_path(t), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-btn" %>
                </td>
                <td>
                  <turbo-frame id="ticket_<%= t.id %>_ticket_name">
                    <div class="cell-display" data-controller="editable-cell" data-action="click->editable-cell#edit">
                      <%= t.ticket_name.present? ? t.ticket_name : "" %>
                    </div>
                  </turbo-frame>
                </td>
                <td>
                  <turbo-frame id="ticket_<%= t.id %>_ticket_keywords">
                    <div class="cell-display keywords-cell" data-controller="keyword-selector" 
                    data-action="click->keyword-selector#showDropdown" 
                    data-keyword-selector-current-keywords-value="<%= t.keywords.to_json %>"
                    data-keyword-selector-remove-keyword-value="<%= t.keywords.to_json %>"
                    data-keyword-selector-all-keywords-value="<%= @all_keywords.to_json %>">
                      <% if t.keywords.present? %>
                        <% t.keywords.each do |k| %>
                          <span class="keyword-label" data-keyword-id="<%= k.id %>" style="background-color: <%= k.background_color %>"><%= k.keyword %></span>
                        <% end %>
                      <% end %>
                    </div>
                  </turbo-frame>
                </td>
                <td>
                  <turbo-frame id="ticket_<%= t.id %>_issue">
                    <div class="cell-display" data-controller="editable-cell" data-action="click->editable-cell#edit">
                      <%= t.issue.present? ? t.issue : "" %>
                    </div>
                  </turbo-frame>
                </td>
                <td>
                  <turbo-frame id="ticket_<%= t.id %>_documentation">
                    <div class="cell-display" data-controller="editable-cell" data-action="click->editable-cell#edit">
                      <%= t.documentation.present? ? t.documentation : "" %>
                    </div>
                  </turbo-frame>
                </td>
                <td>
                  <turbo-frame id="ticket_<%= t.id %>_developer">
                    <div class="cell-display developer-cell" data-controller="developer-selector"
                    data-action="click->developer-selector#showDropdown"
                    data-developer-selector-current-developer-value="<%= t.developer || '' %>"
                    data-developer-selector-remove-developer-value="<%= t.developer || '' %>"
                    data-developer-selector-all-developers-value="<%= Ticket.developers.keys.to_json %>">
                    
                      <% if t.developer.present? %>
                        <span class="developer-label" data-developer-name="<%= t.developer %>"><%= t.developer %></span>
                      <% end %>
                    </div>
                  </turbo-frame>
                </td>
                <td>
                  <turbo-frame id="ticket_<%= t.id %>_story_points">
                    <div class="cell-display" data-controller="editable-cell" data-action="click->editable-cell#edit">
                      <%= t.story_points.present? ? t.story_points : "" %>
                    </div>
                  </turbo-frame>
                </td>
                <td>
                  <turbo-frame id="ticket_<%= t.id %>_commit">
                    <div class="cell-display ticket-commit" data-controller="editable-cell" data-action="click->editable-cell#edit">
                      <%= t.commit.present? ? t.commit : "" %>
                    </div>
                  </turbo-frame>
                </td>
                <td><%= t.created_at.strftime("%m/%d/%Y") %></td>
              </tr>
            <% end %>
            <tr data-href="<%= new_ticket_path %>" class="ticket-row empty-row">
              <td>&nbsp;</td>
              <td>
                <turbo-frame id="new_ticket_ticket_name_<%= c.id %>">
                  <div class="cell-display"
                      data-controller="editable-cell"
                      data-action="click->editable-cell#edit">
                  </div>
                </turbo-frame>
              </td>
              
              <td>&nbsp;</td>
          
              <td>
                <turbo-frame id="new_ticket_issue_<%= c.id %>">
                  <div class="cell-display"
                      data-controller="editable-cell"
                      data-action="click->editable-cell#edit">
                  </div>
                </turbo-frame>
              </td>
              <td>
                <turbo-frame id="new_ticket_documentation_<%= c.id %>">
                  <div class="cell-display"
                      data-controller="editable-cell"
                      data-action="click->editable-cell#edit">
                  </div>
                </turbo-frame>
              </td>
              <td>&nbsp;</td>
              <td>
                <turbo-frame id="new_ticket_story_points_<%= c.id %>">
                  <div class="cell-display"
                      data-controller="editable-cell"
                      data-action="click->editable-cell#edit">
                  </div>
                </turbo-frame>
              </td>
              <% 3.times do %>
                <td>&nbsp;</td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <button class="new-ticket-btn open-slider">New Ticket</button> -->
    <% end %>
    <%= render 'tickets/form' %>
    
  </div>
</div>
